<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="../static/style/Cover.css">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
  <div id='page1'>
    <div class='page1-lantern'></div>
    <div class="page1-frame">
      2026.2.16 23:59:5<span>5</span>
    </div>
    <div class="page1-text"></div>
    <div class="page1-fireworks-up"></div>
    <div class="page1-fireworks-round1"></div>
    <div class="page1-fireworks-round2"></div>
    <div class="page1-bottom">
      <div class="page1-left"></div>
      <div class="page1-right"></div>
    </div>
  </div>

  <div id="page2">
    <div class='page2-lantern'></div>
    <div class="page2-bottom">
      <div class="page2-left"></div>
      <div class="page2-right"></div>
    </div>
    <audio src="../static/music/fireworks.mp3"></audio>
    <canvas></canvas>
  </div>

  <div id="page3">
    <div class="page3-text">
      <div class="page3-blessing" id="blessingText"></div>
      <div class="page3-highlight" id="highlightText"></div>
      <span class="page3-cursor" id="cursor"></span>
    </div>
    <audio src="../static/music/keyboard.mp3" loop></audio>
  </div>

  <div id="music" class="run">
    <audio src="../static/music/everywhere%20we%20go.mp3" loop></audio>
  </div>
</body>
<script type="application/javascript" src="../static/script/Cover.js"></script>
</html>